{background-color: black}
h1{text-align: center}
h1{font-size: 60px}
p{text-align: center}
h1 style{font-family: sans-serif}
div.a {text-align: center;}
div{border-style:solid;border-color:black;border-width:5px;}
border-image:"househaunted.jpg"25%repeat;
{border-width:30px 30px 30px 30px; border-style:solid; border-color:black;height 50px;width:50px;}
h1{font size:50px}
p{font-size: 30px}
a href="1.A Haunted house."{text-decoration: none;}
margin: 30px
h1 {color: white}
p{color:whitesmoke}
<i style="text-align:center"
.noselect {user-select: none;}